.header{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left{
    z-index: 100;
}

.left img{
    width: 150px;
    object-fit: cover;
    cursor: pointer;
    z-index: 1000;
}

.right{
    z-index: 100;
}

.sing_ing_btn{
    background: var(--red);
    font-size: 17px;
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
}

.sing_ing_btn:hover{
    box-shadow: 0 0 8px var(--red);
}

.profile_img{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    z-index: 100;
    overflow: hidden;
    cursor: pointer;
}

.profile_img img{
    width: 100%;
    height: 100%;
}