.body-poster,
.poster{
    width: 100%;
    
}

.poster{
    height: 100vh;
    object-fit: cover;
}

.body-poster{
    position: relative;
}

.body-poster .text{
    position: absolute;
    top: 30%;
    left: 3%;
    color: white;
    width: 40%;
}

.movie-name{
    font-size: 35px;
    margin-bottom: 15px;
}

.movie-dec{
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 22px;
    margin-bottom: 20px;
}

.movie-genre,
.movie-maturity{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.movie-btn-more{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.movie-btn-more:hover{
    box-shadow: 0 0 6px #fff;
}

.back-home{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s;
}


.back-home:hover{
    box-shadow: 0 0 6px #fff;
}

@media screen and (max-width: 638px){
    .body-poster .text{
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        text-align: center;
        padding: 0 20px;
    }
}

