.header .left,
.header .right{
    display: flex;
    align-items: center;
    z-index: 1000;
}


.header-links{
    color: white;
    display: flex;
    gap: 8px;
}

.logo-m{
    width: 35px;
    height: 35px;
    object-fit: cover;
    display: none;
    margin-right: 5px;   
}

.logo-d{
    width: 150px;
    cursor: pointer;
    object-fit: cover;
}

.header-links span{
    font-size: 14px;
    cursor: pointer;
}

.header-links span:hover{
    opacity: .8;
}

.header .right{
    gap: 10px;
}

.profile img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}

.profile img:hover{
    box-shadow: 0 0 10px green;
}

@media screen and (max-width: 638px) {
    .logo-d{
        display: none;
    }
    .logo-m{
        display: flex;
    }
}